<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentOut</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Roboto:wght@100;300;400;500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/home.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#home">RentOut</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item pr-5">
                        <a class="nav-link" href="signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="main py-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-10 py-5 mx-auto">
                    <h1 class="text-white text-center">Find Your Desired House</h1>
                    <p class="text-white text-center">We Offer the Best Deals</p>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <span>Property for rent</span>
                                    <select class="mt-2" name="" id="">
                                        <option value="">-Awesome</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <span>Property for rent</span>
                                    <select class="mt-2" name="" id="">
                                        <option value="">-Awesome</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <span>Property for rent</span>
                                    <select class="mt-2" name="" id="">
                                        <option value="">-Awesome</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                        <option value="">One</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" class="btn1" value="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="land">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="font-weight-bold">Are you a landlord?</h1>
                    <p>Contact us to post your rental listing.</p>
                </div>
                <div class="offset-3 col-lg-2">
                    <a href="prop_add"><input type="button" class="btn2 mt-2" value="Contact"></a>
                </div>
            </div>
        </div>
    </section> -->
    <section class="rent py-5">
        <div class="conatiner py-5">
            <h1 class="text-center py-5">Properties For Rent</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img2.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="RENT">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img3.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="RENT">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img4.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="RENT">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <input type="button" class="btnf mt-5" value="Discover More">
            </div>
        </div>
    </section>
    <section class="home py-5">
        <div class="conatiner py-5">
            <h1 class="text-center py-5">Properties For Sale</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img2.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="Check Availibilty">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img3.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="Check Availibilty">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="/img4.jpg" class="img-fluid" alt="">
                        <input type="button" class="btnc" value="Check Availibilty">
                        <h6 class="p-3 font-weight-bold">Rs8000+</h6>
                        <p class="px-3">Renting apartment with a retalor
                            is a rather complicated segment of the real estate market.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <input type="button" class="btnf mt-5" value="Discover More">
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <h1 class="py-4 text-center">CONTACT US</h1>
            <p class="text-center">Our manager will contact you shortly.</p>
            <div class="row py-5">
                <div class="col-lg-8 mx-auto">
                    <form action="">
                        <div class="form-row">
                            <div class="col-lg-4">
                                <label for="">Name</label>
                                <input type="text" class="form-control bg-light p-4">
                            </div>
                            <div class="col-lg-4">
                                <label for="">Email</label>
                                <input type="email" class="form-control bg-light p-4">
                            </div>
                            <div class="col-lg-4">
                                <label for="">Phone</label>
                                <input type="number" class="form-control bg-light p-4">
                            </div>
                        </div>
                        <div class="form-row py-3">
                            <div class="col-lg-12">
                                <label for="">Message</label>
                                <textarea name="" class="form-control bg-light p-4" id="" cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-row text-center justify-content-center">
                            <input type="button" class="btnf mt-5" value="Send Mesage">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container pt-3">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <p class="text-center">RentOut &copy Copyright 2022 - All Rights Reserved</p>
                </div>
                <div class="offset-3 col-lg-3">
                    <span><i class='fab fa-facebook'></i></span>
                    <span><i class='fab fa-instagram px-2'></i></span>
                    <span><i class='fab fa-twitter'></i></span>
                    <span><i class='fab fa-youtube px-2'></i></span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>