<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#home">RentOut</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link pr-5" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-5" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-5" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-5" href="#contact">Contact Us</a>
                        </li>
                        <li class="nav-item pr-5">
                            <a class="nav-link" href="signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="login my-5 mx-auto">
        <h2>Sign in</h2>
        <% if (val) { %>
            <p>
                <%= title %>
            </p>
            <%} %>
                <form action="/dashboard" method="post">
                    <div class="login-username form-field">
                        <input type="text" name="username" class="form-control border border-dark text-center p-3 mt-3"
                            placeholder="Username or email">
                    </div>
                    <div class="login-password">
                        <input type="password" name="pass" class="form-control border border-dark text-center p-3 mt-3"
                            placeholder="Password">
                    </div>
                    <div>
                        <button type="submit" class="btn mt-4">Login</button>
                    </div>
                </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>