<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Properties</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Roboto:wght@100;300;400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
  <%- include('sidenav.ejs'); %>
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="search">
          <label for="">
            <input type="text" name="" id="" placeholder="Search here">
            <ion-icon name="search-outline"></ion-icon>
          </label>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
              <ion-icon name="person-circle-outline" class="user"></ion-icon>
              <%= oname %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="login">Logout</a>
          </div>
        </div>  
      </div>
      <div class="container">
        <table class="table">
          <thead>
            <!-- <th scope="col">Sr. No.</th> -->
            <th scope="col">Owner Name</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Property Type</th>
            <th scope="col">Preferred Tenant</th>
            <th scope="col">Parking</th>
            <th scope="col">Availability</th>
            <th scope="col">Posted On</th>
            <th scope="col">Furnishing Status</th>
            <th scope="col">Floor</th>
            <th scope="col">Gated Security</th>
            <th scope="col">Additional Detail</th>
          </thead>
          <tbody>
            <% props.forEach(function(prop) { %>
              <tr>
                <!-- <td><%= prop.srno %></td> -->
                <td><%= prop.owner_name %></td>
                <td><%= prop.mobile_no %></td>
                <td><%= prop.property_type %></td>
                <td><%= prop.preferred_tenant %></td>
                <td><%= prop.parking %></td>
                <td><%= prop.availability %></td>
                <td><%= moment(prop.posted_on).format('DD MMM YYYY'); %></td>
                <td><%= prop.furnishing_status %></td>
                <td><%= prop.floor %></td>
                <td><%= prop.gated_security %></td>
                <td><%= prop.textarea %></td>
                <td><a href="editprop/<%= prop.srno %>"><button class="btn btn-sm btn-primary my-1">Edit</button></a>
                  <a href="deleteprop/<%= prop.srno %>"><button class="btn btn-sm btn-danger">Delete</button></a>
                </td>
              </tr>
              <% }); %>
                <div class="add my-3">
                  <a href="/add_property"><button class="btn btn-primary">Add</button></a>
                </div>
          </tbody>
        </table>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="sidenav_toggle.js"></script>
</body>
</html>