<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Roboto:wght@100;300;400;500&display=swap"
    rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <%- include('sidenav.ejs'); %>
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="search">
          <label for="">
            <input type="text" name="" id="" placeholder="Search here">
            <ion-icon name="search-outline"></ion-icon>
          </label>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
              <ion-icon name="person-circle-outline" class="user"></ion-icon>
              <%= oname %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="login">Logout</a>
          </div>
        </div>  
      </div>
    <div class="container detail">
        <form action="/add_detail" method="post">
            <div class="ownerDetail pt-5">
                <fieldset>
                    <legend>Owner Details</legend>
                    <div class="row pt-3">
                        <div class="col-md-6">
                            <label for="">Name</label>
                            <input type="text" name="owner_name" id="owner_name">
                        </div>
                        <div class="col-md-6">
                            <label for="">Mobile No</label>
                            <input type="text" name="mobile_no" id="mobile_no">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="propertyDetail pt-5">
                <fieldset>
                    <legend>Property Details</legend>
                    <div class="row pt-3">
                        <div class="col-lg-4">
                            <span>Property Type: </span>
                            <select class="btn" name="property_type" id="property_type">
                                <option class="dropdown-item" value="None">Select Property</option>
                                <option class="dropdown-item" value="Appartment">Appartment</option>
                                <option class="dropdown-item" value="Standalone">Standalone</option>
                                <option class="dropdown-item" value="Villa">Villa</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <span>Preferred Tenant: </span>
                            <select class="btn" name="preferred_tenant" id="preferred_tenant">
                                <option class="dropdown-item">Select Tenant</option>
                                <option class="dropdown-item" value="Family">Family</option>
                                <option class="dropdown-item" value="Bachelor">Bachelor</option>
                                <option class="dropdown-item" value="Both">Both</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <span>Parking: </span>
                            <select class="btn" name="parking" id="parking">
                                <option class="dropdown-item" value="none">Select Parking</option>
                                <option class="dropdown-item" value="2w">2 Wheeler</option>
                                <option class="dropdown-item" value="4w">4 Wheeler</option>
                                <option class="dropdown-item" value="Both">Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg-4">
                            <span>Availability: </span>
                            <div class="form-check">
                                <label for="" class="form-check-label "><input type="radio" name="availability" value="Immediate">Immediate</label>
                                <label for="" class="form-check-label ps-RTL-5"><input type="radio" name="availability" value="Within_15_Days">Within 15 Days</label>
                                <label for="" class="form-check-label pe-rtl-5"><input type="radio" name="availability" value="Within_30_Days">Within 30 Days</label>
                                <label for="" class="form-check-label pe-rtl-5"><input type="radio" name="availability" value="After_30_Days">After 30 Days</label>
                              </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="">Posted On:</label>
                            <input type="date" name="posted_on" id="posted_on" value="date">
                        </div>
                        <div class="col-lg-4">
                            <span>Furnishing Status: </span>
                            <select class="btn" name="furnishing_status" id="furnishing_status">
                                <option class="dropdown-item">Select Property</option>
                                <option class="dropdown-item" value="Furnished">Furnished</option>
                                <option class="dropdown-item" value="Unfurnished">Unfurnished</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-lg-4">
                            <span>Floor: </span>
                            <input type="number" name="floor" id="floor" value="number">
                        </div>
                        <div class="col-lg-4">
                            <span for="security" class="security">Gated Security:</span>
                            <div class="form-check-inline">
                                <label for="" class="form-check-label"><input type="radio" class="security" name="gated_security" value="yes">Yes</label>
                                 <label for="" class="form-check-label"><input type="radio" class="security" name="gated_security" value="no">No</label>
                            </div>
                        </div>
                            <div class="col-lg-4">
                                <label for="textArea">Extra Details</label>
                                <textarea class="form-control" name="textarea" id="textarea" value="text" placeholder=""></textarea>
                            </div>
                        </div>
                    </fieldset>
             </div>
         <div>
            <button type="submit" class="saveButton btn btn-outline-primary">Save</button>
         </div>
        </form>
    </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="sidenav_toggle.js"></script>
</body>
</html>