<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Owner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">RentOut</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link pr-5" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pr-5" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="/save_edit" method="post" class="details-form text-center my-5 mx-auto">
        <div class="form-personal-detail">
            <h2>Sign Up</h2>
            <div class="form-login p-4">
                <div class="form-field mb-3">
                    <label for="name" class="name">Name:</label>
                    <input type="text" name="owner_name" id="owner_name" placeholder="Name" value="<%= user.owner_name%>">
                </div>
                <div class="form-field mb-3">
                    <label for="email" class="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Email" value="<%= user.email%>">
                </div>
                <div class="form-field mb-3">
                    <label for="password" class="password">Password:</label>
                    <input type="password" name="pass" id="pass" placeholder="Password" value="<%= user.pass%>">
                </div>
                <div class="form-field mb-3">
                    <label for="confirm-password" class="confirm-password">Confirm Password:</label>
                    <input type="password" name="confirm_pass" id="confirm_pass" placeholder="Confirm Password" value="<%= user.confirm_pass%>">
                </div>
                <div class="form-field mb-3">
                    <label for="dob" class="dob">Date of Birth:</label>
                    <%= user.DOB%>
                    <input type="date" name="dob" id="dob" value="<%= user.DOB%>">
                </div>
                <div class="form-field mb-3">
                    <label for="gender" class="gender">Gender:</label>
                    <input type="radio" class="gender" name="gender" value="<%= user.Male%>">Male
                    <input type="radio" class="gender" name="gender" value="<%= user.Female%>">Female
                    <input type="radio" class="gender" name="gender" value="<%= user.Other%>">Other
                </div>
            </div>
        </div>
        <div class="final-submit">
            <button type="submit">Create Account</button>
        </div>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>