/* Login Page */
body{
    font-family: "Baloo Thambi 2", cursive;
}
.nav-link {
    color: black;
    font-weight: 600;
  }
  .navbar-brand {
    color: black;
    font-weight: 700;
  }
.login{
    text-align: center;
    width: 30%;
    font-size: 25px;
    border: 4px solid;
    padding: 2%;
}
.btn{
    background-color: black;
    color: white;
    height: 45px;
    width: 200px;
    outline: none;
    border: none;
    display: inline-block;
}
button a{
    text-decoration: none;
    color: white;
}
button a:hover{
    text-decoration: none;
   color: #212529;
}
.form-control{
    outline: none;
    border: none;
}
.navigation{
    background-color: rgb(238,235,235);
}