*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Thambi 2", cursive;
  }
  :root {
    --blue: #287bff;
    --white: #fff;
    --gray: #f5f5f5;
    --black: #222;
    --black2: #999;
  }
  body {
    min-height: 100vh;
    overflow: hidden;
  }
  .container {
    position: relative;
    width: 100%;
  }
  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solids var(--blue);
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active{
  width: 60px;
  }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .navigation ul li:hover{
  background: var(--white);
  }
  .navigation ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
  }
  .navigation ul li a{
      position: relative;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a{
      color: var(--blue);
  }
  .navigation ul li a .icon{
      position: relative;
      display: block;
      min-width: 60px;
      height: 60px;
      line-height: 70px;
      text-align: center;
  }
  .navigation ul li a .icon  ion-icon{
      font-size: 1.7em;
  }
  .navigation ul li a .title{
      position: relative;
      display: block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      text-align: start;
      white-space: nowrap;
  }
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before
  {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius:50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius:50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
  }
  
  .main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active{
    width: calc(100% - 60px);
    left: 60px;
  }
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}